body {
	background-image: url(../hg/c.jpg);
	background-size: 100%;
	background-repeat: 1;
	background-position: all;
}
.login {
	border-radius: 25px;
	position: relative;
	top: 150px;
	width: auto;
	min-height: 400px;
	background: blur;

} 